/*

Theme Name: Popcon Asia

URI: http://popconasia.com/

Description: Popcon Asia Themes

Author: LeapUP

URI: http://leapup.id/

Version: 1.0

*/

/* centered columns styles */

.row-centered {

    text-align:center;

}

.col-centered {

    display:inline-block;

    float:none;

    /* reset the text-align */

    text-align:left;

    /* inline-block space fix */

    margin-right:-4px;

}

.col-fixed {

    /* custom width */

    width:320px;

}

.col-min {

    /* custom min width */

    min-width:320px;

}

.col-max {

    /* custom max width */

    max-width:320px;

}



.no-padding{

    padding-left: 0px;

    padding-top: 0px;

    padding-bottom: 0px;

    padding-right: 0px;

}



.btn-popcon{

            border-color: #283883 ; /*#D7182A; #E55A65*/

            background: #283883;

            display: inline-block;

            padding: 10px 25px;

            font-size: 15px;

            color: white;

        }

        .judulatas{

          background-color: #E2595D;

          text-transform: uppercase;

        }

        .btn-popcon:hover, .btn-popcon:focus{

            color: white;

        }

        @font-face {

         font-family: "Gotham Ultra";

         src: url('font/Gotham-Ultra.ttf');

         }

        @font-face {



         font-family: "Gotham Medium";

         src: url('font/Gotham-Medium.ttf');

        }

        @font-face{

            font-family: "Gotham Narrow";

            src: url('font/GothamNarrow-Book.ttf');



        }

        h4{

        	font-family: "Gotham Medium" !important;

        }

        h1,h2,h3 {

         font-family: "Gotham Medium";

         }

        button, h5, .nav {

         font-family: "Gotham Medium";

         font-size : 10pt;

         }

         .linkblack{

          color: black !important;

          text-decoration: none;

         }

         p,.body-single li, .panel-body ul li, .panel-body span{

           font-family: "Gotham Narrow"!important;

         }

         .foot {

            width: 100%;

            font-family: "Gotham Medium";

         }

         .carousel-inner > .item > img,.carousel-inner > .item > a > img

         { width: 100%; margin: auto;}

         .pagination>li>a, .pagination>li>span{

            color: #D7182A;

         }

         .pagination>li>a:hover{

            background-color: #D7182A;

            color: white;

         }

         .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{

            background-color: #D7182A;

            border-color: #D7182A;

         }

         .bawah {

            background-color: #283883;

            color: white;

         }

         .bawah p{

            color:white;

         }

         .konten{

            padding-bottom: 25px;

         }

         .tiket{

            margin-left: 15px;

         }

         .menunav{

            text-align: center;

         }





.dropdown-submenu {

    position:relative;

}

.dropdown-submenu>.dropdown-menu {

   top:0;left:100%;

   margin-top:-6px;margin-left:-1px;

   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;

 }



.dropdown-submenu > a:after {

  border-color: transparent transparent transparent #333;

  border-style: solid;

  border-width: 5px 0 5px 5px;

  content: " ";

  display: block;

  float: right;

  height: 0;

  margin-right: -10px;

  margin-top: 5px;

  width: 0;

}



.dropdown-submenu:hover>a:after {

    border-left-color:#555;

 }



.dropdown-menu>li>a{

    padding-top: 10px;

    padding-bottom: 10px;

}



@media (max-width: 767px) {



  .navbar-nav  {

     display: inline;

  }

  .navbar-default .navbar-brand {

    display: inline;

  }

  .navbar-default .navbar-toggle .icon-bar {

    background-color: #fff;

  }

  .navbar-default .navbar-nav .dropdown-menu > li > a {

    color: red;

    background-color: #ccc;

    border-radius: 4px;

    margin-top: 2px;

  }

   .navbar-default .navbar-nav .open .dropdown-menu > li > a {

     color: #333;

   }

   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,

   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {

     background-color: #ccc;

   }



   .navbar-nav .open .dropdown-menu {

     border-bottom: 1px solid white;

     border-radius: 0;

   }

  .dropdown-menu {

      padding-left: 10px;

  }

  .dropdown-menu .dropdown-menu {

      padding-left: 20px;

   }

   .dropdown-menu .dropdown-menu .dropdown-menu {

      padding-left: 30px;

   }

   li.dropdown.open {

    border: 0px solid red;

   }



}

 @media all (min-width:769px){

     .navbar-collapse.collapse {

         display: block!important;

         height: auto!important;

         padding-bottom: 0;

         overflow: visible!important;

     }

 }

@media (min-width: 768px) {

  ul.nav li:hover > ul.dropdown-menu {

    display: block;

  }

  #navbar {

    text-align: center;

  }



}

@media (max-width: 768px) {

    div.navbar-collapse.collapse {

        display: none!important;

        height: auto!important;

        padding-bottom: 0;

        overflow: visible!important;

    }

    div.navbar-collapse.collapse.in {

        display: block!important;

    }

}





/* Wordpress Dropdown Walker */

.dropdown-submenu{position:relative;}

.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}

.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {

       display: block;

       right:162px;

}

.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}

.dropdown-submenu:active>a:after{border-left-color:#ffffff;}

.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus

{

     border-bottom: 3px solid #D7182A;

}

.post-body span .author .publisher-anchor-color a{

	color: #288ce4 !important;

}





/*form contact*/

nf-field input, .ninja-forms-field{

    font-size: 20px !important;

    padding: 4px !important;

}



.news-sidebar .caption{

    padding-left: 0px;

}

.img-speaker {
	border-radius:5px;
}
.img-speaker:hover {
	border-radius:5px;
	border: 5px solid #4859AC;
	transition: border-color .5s ease-out; 
}
hr {
	border-top:2px solid #eee!important;
}
.img-exhibitor {
	border: 1px solid #F0F0F0;
}

.btn-more{
                -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
                background-color: #ffc500 !important;
                border-color: #ffc500 ; /*#D7182A; #E55A65*/
                display: inline-block;
                padding: 10px 25px;
                font-size: 18px;
                color: black;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                }     

              .btn-more:hover{
               -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
                transform: scale(1.1);
              }

/** MODCON **/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.modcon-submenu {
		padding-top:10px;
		text-align:right!important;
		margin-top:20px;
	}
}
/*.modcon .row{
	margin:0px;
	padding:0px;
}*/
.section-heading-title {
	color: white;
	text-transform: uppercase;
	padding: 5px 0px;
}

.modcon-submenu {
	color:#FFFFFF;
	text-transform:capitalize;
	margin-bottom:10px;
	padding-bottom:10px;
}
.modcon-submenu a {
	color:#FFFFFF;
	text-transform:capitalize!important;
	text-decoration:none;
}
.modcon-hero {
	background-color:#283883;
	padding-top:15px;
	padding-bottom:15px;
}
.modcon-hero-bg {
	background-color:#FFFFFF;
}
.modcon-hero-left {
	padding:20px 40px;
}
.modcon-hero-left p {
	font-size:18px;
	margin-bottom:20px;
}
.modcon-aussiebgt {
	background-size:cover!important; 
	padding-top:50px;
	padding-bottom:50px;
}
.modcon-aussiebgt-content {
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
}
.modcon-aussiebgt-content h2 {
	font-size:35px;
}
.modcon-aussiebgt-content p {
	font-size:20px;
}
.modcon-process {
	padding-top:50px;
	padding-bottom:50px;
}
.modcon-process-container {
	margin-bottom:30px;
}
.modcon-process-container h2 {
	margin-bottom:0px;
}
.modcon-divider {
	width:50px;
	height:5px;
	margin:auto;
	background-color:#e2595d;
}
.modcon-judges {
	background-color:#f3f3f3;
}
.modcon-judges-container {
	padding:50px 0px;
}
.modcon-judges-heading {
	margin-bottom:30px;
}
.modcon-judges-container h2 {
	margin-bottom:0px;
}
.modcon-call-action {
	background-color:#ffcb00;
	padding-bottom:50px;
	padding-top:50px;
}
.modcon-socmed {
	padding-top:10px; 
	padding-bottom:10px;
}
.modcon-process-content h3,.modcon-judges h3 {
	margin-bottom: 0px;
}
.modcon-process-content .col-lg-3 {
	margin-bottom:40px;
}
.modcon-process-action {
	padding-top: 30px;
}
.modcon-process-action h4 {
	font-size: 18px;
	font-weight:100!important;
}
.modcon-judge-img {
	border: 5px solid #e2595d;
}
.modcon-judge-img:hover {
	border: 5px solid #FFCB00;
}
.modcon-call-action h2 {
	font-size: 30px;
}
.btn-modcon-submission {
	background-color: #fcfcfc!important;
	color: #000;
	margin-bottom: 20px;
}
.aus-logo {
	display:block;
}
.modcon-socmed a:hover {
	text-decoration:none;
}

.modcon-judges-container .col-lg-4 {
	margin-bottom:30px;
}
.list-modcon .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-modcon .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
@media (min-width: 992px) {
	
	.modcon-hero {
		padding-top:50px;
		padding-bottom:50px;
	}
	.modcon-aussiebgt-content h2 {
		font-size:60px;
	}
	.modcon-aussiebgt-content p {
		font-size:25px;
	}
	.modcon-aussiebgt-content {
		padding-top:20px;
		padding-bottom:20px;
	}
	.aus-logo {
		display: inline-block;
		border-right: 1px solid #ccc;
		padding-right: 20px;
		margin-right: 20px;
	}
	.modcon-call-action h2 {
		font-size: 40px;
	}

}

.body-modcon strong {
	text-decoration:underline;
