/*
Theme Name: Popcon Asia
URI: http://popconasia.com/
Description: Popcon Asia Themes
Author: LeapUP
URI: http://leapup.id/
Version: 1.0
*/
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}


/***** Modal Aftermovie*****/

            .modal-backdrop.in {
                filter: alpha(opacity=7);
                opacity: 0.7;
            }
            .aftermovie-modal-dialog{
              width: 800px;
            }
            .aftermovie-modal-content {
                background: ;
                border: 0;
                width: 100%;
                -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
                -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
            }

            .aftermovie-modal-body {
                padding: 0 25px 25px 25px;
            }

            .aftermovie-modal-header {
                padding: 25px 25px 15px 25px;
                text-align: right;
            }

            .aftermovie-modal-header, .aftermovie-modal-footer {
                border: 0;
            }

            .aftermovie-modal-header .close {
                float: none;
                margin: 0;
                font-size: 36px;
                color: #fff;
                font-weight: 300;
                text-shadow: none;
                opacity: 1;
            }


.btn-popcon{
            border-color: #283883 ; /*#D7182A; #E55A65*/
            background: #283883;
            display: inline-block;
            padding: 10px 25px;
            font-size: 15px;
            color: white;
        }
        .judulatas{
          background-color: #E2595D;
          text-transform: uppercase;
        }
        .btn-popcon:hover, .btn-popcon:focus{
            color: white;
        }
        @font-face {
         font-family: "Gotham Ultra";
         src: url('font/Gotham-Ultra.ttf');
         }
        @font-face {

         font-family: "Gotham Medium";
         src: url('font/Gotham-Medium.ttf');
        }
        @font-face{
            font-family: "Gotham Narrow";
            src: url('font/GothamNarrow-Book.ttf');

        }
        @font-face{
            font-family: "Gotham Rounded";
            src: url('font/Gotham-Rounded-Bold.ttf');

        }
        h4{
        	font-family: "Gotham Rounded" !important;
        }
        h1,h2,h3,h5 {
         font-family: "Gotham Rounded";
         }
        button, h5, .nav {
         font-family: "Gotham Medium";
         font-size : 10pt;
         }
         h5{
         font-size : 10pt;
         }
         .linkblack{
          color: black !important;
          text-decoration: none;
         }
         p,.body-single li{
           font-family: "Gotham Narrow"!important;
         }
         .foot {
            width: 100%;
            font-family: "Gotham Medium";
         }
         .carousel-inner > .item > img,.carousel-inner > .item > a > img
         { width: 100%; margin: auto;}
         .pagination>li>a, .pagination>li>span{
            color: #D7182A;
         }
         .pagination>li>a:hover{
            background-color: #D7182A;
            color: white;
         }
         .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
            background-color: #D7182A;
            border-color: #D7182A;
         }
         .bawah {
            background-color: #283883;
            color: white;
         }
         .bawah p{
            color:white;
         }
         .konten{
             padding-left: 5px;
             padding-right: 5px ;
             padding-top: 5px;
             padding-bottom: 5px;
             height: 125px;
             line-height: 110px;
             vertical-align: middle;
             border: 1px solid #f0f0f0;
            text-align: center;
         }
         .img-company{
             display: inline-block;
             max-height: 100%;
         }
         .section-margin{
             margin-bottom: 25px;
         }
         .tiket{
            margin-left: 15px;
         }
         .menunav{
            text-align: center;
         }



         .late-news{
          padding: 3px 3px !important;
          margin: 0px;
          list-style: none;
        }
            .late-news h2{
                color:#3342b7;

            }

            .late-news-list{
              padding:0 0px;
            }

            .late-news-list .news{
              border:0px solid #FFF;
              height:100%;
              position:relative;
                height: 170px;
                overflow-y: hidden;
              }

            .late-news-list .news-photo{
              position:relative;
              overflow:hidden;

              }
            .late-news-list .news-photo img{
              -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1.05);
              transform:scale(1.05);
              will-change:transform;
              }
            .late-news-list .news-photo::after{
              -webkit-transition:background-color 200ms ease;
              transition:background-color 200ms ease;
              background-color:rgba(0,0,0,0);
              opacity: 0.8;
              background-image:url("img/gradient.png");
              background-position:center bottom;
              background-repeat:no-repeat;
              background-size:100% 80%;
              bottom:0;
              box-shadow:0 2px 0 #000;
              content:'';
              display:block;
              left:0;
              position:absolute;
              right:0;
              top:0;
              will-change:background-color;
              }
            .late-news-list .news-photo-responsive{
              height:260px;
              background-size:cover;
              background-position:center;
              }
            .late-news-list .news-text{
              bottom:0;
              padding:0 12px 16px 12px;
              position:absolute;
              width:100%;
              }
            .late-news-list .news-text h4{
              color:#FFF;
              margin-bottom:3px;
              margin-top:0px !important;
              }

            .news-text h5{
              font-size: 14px;
                    font-weight: bold;
                    color:#ffc500;
                    text-decoration: none;
                    margin-bottom: 0px;
            }
            .late-news-list .news-text p{
              color:#FFF;
              margin:0;
              }
            .late-news-list .news-company{
              display:block;
              font-weight:700;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              }
            .late-news-list .news-twitter{
              color:#FFF;
              font-size:20px;
              position:absolute;
              right:12px;
              top:12px;
              }
            .late-news-list .news:hover .news-photo img{
              -webkit-transform:scale(1);
              transform:scale(1);
              }
            .late-news-list:hover .news:hover .news-photo::after{
              background-color:transparent;
            }

            .past-late-news{
              padding: 3px !important;
              list-style: none;
            }


              .btn-more{
                -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
                background-color: #ffc500 !important;
                border-color: #ffc500 ; /*#D7182A; #E55A65*/
                display: inline-block;
                padding: 10px 25px;
                font-size: 18px;
                color: black;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                }

              .btn-more:hover{
               -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
                transform: scale(1.1);
              }

         .subscribe{
            background-color: #283883;
            color: white;
         }
         .subscribe-row{
            padding: 20px;
            padding-bottom: 30px;

         }

                 .btn-subscribe{

                background-color: #e2595d !important;
                 display: inline-block;
                padding: 10px 25px;
                font-size: 17px;
                color: white;
                 }

                  .subscribe input[type=submit]:hover{
                      background-color:#ffc500 !important;
                      color: white;
                  }

                 .subscribe input[type=text]{
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    margin-top:10px;
                    margin-bottom: 10px;
                    margin-right: 0;
                    margin-left: 0cm;
                    border:  0px;
                    padding: 23px 30px;
                     font-size: 14px;
                 }

                .subscribe-input-name{
                    border-radius: 4px 0 0 4px !important;
                    margin-right: -3px !important;
                }

                .subscribe input[type=text]:focus{
                    box-shadow: none;
                }
                @media(max-width: 767px){
                  .subscribe-input-name{
                    border-radius:4px 4px !important;

                  }
                  .subscribe-input-email{
                    border-radius: 4px 0 0 4px !important;

                  }
                }
        .aftermovie{
            background-color: #E2595D;
        }
        .aftermovie-col-left{
          /*background-image: url('img/video.jpg');*/
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 375px;
        }

        .aftermovie-col-right{
          height: 100%;
          padding: 30px 40px;
          padding-bottom: 55px;
        }



            .aftermovie-still-play{
              -webkit-transition:border-color 250ms ease;
              transition:border-color 250ms ease;
              border:6px solid rgba(255,255,255,0.7);
              border-radius:50%;
              display:block;
              height:100px;
              width:100px;
              left:47%;
              margin:-32px 0 0 -32px;
              position:absolute;
              top:45%;
              will-change:border-color;
              z-index:3;
              }
            .aftermovie-still-play::after{
              background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="#FFF" d="M40 20L5.4 40V0"/></svg>');
              background-position:center;
              background-repeat:no-repeat;
              background-size:28px 28px;
              content:'';
              display:block;
              height:90px;
              width:90px;
              will-change:transform;
              }
            .aftermovie-text{
              padding:32px 0 40px 0;
              position:relative;
              z-index:2}

            .aftermovie-still-play:hover{
              -webkit-transition:border-color 250ms ease;
              transition:border-color 250ms ease;
              border:6px solid rgba(255,255,255,1);
            }






        .themeoftheyear{
          background-color: #283883;
        }
        .themeoftheyear-col-left{
            min-height: 600px;
             padding: 30px 40px;
          padding-bottom: 55px;
        }
        .themeoftheyear-col-right{
           /* background-image: url('img/bg-themeoftheyear.jpeg'); */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 600px;

        }

         @media (max-width: 600px){
          .aftermovie-col-right,.themeoftheyear-col-left{
            padding: 0px 15px;
            padding-bottom: 55px;
          }
          }
          @media (min-width:  992px) and (max-width:  1023px){
            .aftermovie-col-left{
              min-height:423px;
            }
            .themeoftheyear-col-right{
              min-height:697px;
            }
          }
           @media (min-width:  1024px) and (max-width:  1071px){
            .aftermovie-col-left{
              min-height:423px;
            }
            .themeoftheyear-col-right{
              min-height:675px;
            }
          }

           @media (min-width:  1072px) and (max-width:  1117px){
            .aftermovie-col-left{
              min-height:423px;
            }
            .themeoftheyear-col-right{
              min-height:653px;
            }
          }
           @media (min-width:  1118px) and (max-width:  1150px){
            .aftermovie-col-left{
              min-height:423px;
            }
          }
           @media (min-width:  1118px) and (max-width:  1233px){y
            .themeoftheyear-col-right{
              min-height:631px;
            }
          }
          @media (min-width:  1151px){
             .aftermovie-col-left{
              min-height:375;
            }
          }


              .aftermovie-col-text, .themeoftheyear-col-text{
                padding: 15px;
              }
              .aftermovie h5, .themeoftheyear h5{
                color: #ffc500;
                font-size: 18px

              }
              .aftermovie h1, .themeoftheyear h1{
                font-size: 44px;
              }

              .aftermovie h1, .themeoftheyear h1, .themeoftheyear p{
                color: white;

              }
              .themeoftheyear p{
                margin: 20px 10px !important;
                font-family:"Gotham Rounded" !important;
                font-size: 16px;
              }
              .aftermovie h1, .aftermovie h5, .aftermovie p, .themeoftheyear h5, .themeoftheyear h1, .themeoftheyear p{
                margin: 10px;
              }

        .sponsor-partner{
            margin-bottom: 4em !important;

        }


        .gallery{
          height: auto;
        }
        .gallery-container{
          padding: 0px;
        }
       .mosaic{
          display:none
        }

          .mosaic{

              display:block;
              height:45vw;
              overflow:hidden;
              position:relative
              }
          .mosaic-image{
              -webkit-align-items:center;
              align-items:center;
              display:-webkit-flex;
              display:flex;
              -webkit-justify-content:center;
              justify-content:center;
              background-position:center center;
              background-repeat:no-repeat;
              background-size:cover;

              color:#FFF;font-size:20px;
              font-style:italic;
              line-height:1.5;
              height:50%;
              left:0;padding:2em;
              position:absolute;
              text-align:center;top:0;
              width:25%;
              z-index: 999;
            }
           /* .mosaic-image:hover{
               -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1.05);
              transform:scale(1.05);
              will-change:transform;
              z-index: 1;
            } */
          .mosaic-image:nth-child(1){
              left:0;
              top:0;
              width:50%
          }
          .mosaic-image:nth-child(2){
              height:100%;
              left:50%;
              top:0
          }
          .mosaic-image:nth-child(3){
              left:75%;
              top:0
          }.mosaic-image:nth-child(4){
              left:0;
              top:50%
          }
          .mosaic-image:nth-child(5){
              left:25%;
              top:50%
          }.mosaic-image:nth-child(6){
              height:50%;
              left:75%;
              top:50%

          }+.mosaic{margin-top:0px}

        .past-popstars{
           background-color: rgba(216, 216, 216, 0.17);
            padding-top: 40px;
        }
        .popstars{
          padding: 0px !important;
          margin: 0px !important;
        }
            .popstars h2{
                color:#3342b7;
            }

            .popstars-list{
              padding:0 0px;
            }

            .popstars-list .popstar{
              border:0px solid #FFF;
              height:100%;
              position:relative;
              }

            .popstars-list .popstar-photo{
              position:relative;
              overflow:hidden;

              }
            .popstars-list .popstar-photo img{
              -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1.05);
              transform:scale(1.05);
              will-change:transform;

              }
              img.popstar-img{
                -webkit-filter:grayscale(0%);
                filter:grayscale(0%);
              }





            .popstars-list .popstar-photo::after{
              -webkit-transition:background-color 200ms ease;
              transition:background-color 200ms ease;
              background-color:rgba(0,0,0,0);
              background-image:url("img/gradient.png");
              opacity: 0.8;
              background-position:center bottom;
              background-repeat:no-repeat;
              background-size:100% 50%;
              bottom:0;
              box-shadow:0 2px 0 #000;
              content:'';
              display:block;
              left:0;
              position:absolute;
              right:0;
              top:0;
              will-change:background-color;
              }
            .popstars-list .popstar-photo-responsive{
              height:260px;
              background-size:cover;
              background-position:center;
              }
            .popstars-list .popstar-text{
              bottom:0;
              padding:0 12px 16px 12px;
              position:absolute;
              width:100%;
              }
            .popstars-list .popstar-text h4{
              color:#FFF;
              margin-bottom:3px
              }
            .popstars-list .popstar-text p{
              color:#FFF;
              margin:0;
              }
            .popstars-list .popstar-position{
              color:rgba(255,255,255,0.75);
              }
            .popstars-list .popstar-company{
              display:block;
              font-weight:700;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              }
            .popstars-list .popstar-twitter{
              color:#FFF;
              font-size:20px;
              position:absolute;
              right:12px;
              top:12px;
              }
            .popstars-list .popstar:hover .popstar-photo img{
              -webkit-transform:scale(1);
              transform:scale(1);
              }
            .popstars-list:hover .popstar:hover .popstar-photo::after{
              background-color:transparent;
            }

            .popstar{
              padding: 0 !important;
              list-style: none;
               }

            .row-btn-popstarmore, .row-btn-gallerymore{
          margin-top: 30px;
          margin-bottom: 30px;
        }


    /* ABOUT PAGE */

  .aboutheader{
      margin:10px 0px 30px 0px;
  }
      .aboutborder-bottom1{
        display: inline-block;
        padding-bottom: 15px;
        position: relative;
      }

      .aboutborder-bottom1:before{
          content: "";
          position: absolute;
          width: 75%;
          height: 15px;
          bottom: 0;
          left: 10%;
          background: url('img/about/about-bottomborder.png') repeat-x 0 0;
      }

      .aboutborder-bottom2{
        display: inline-block;
        padding-bottom: 15px;
        position: relative;
      }

      .aboutborder-bottom2:before{
          content: "";
          position: absolute;
          width: 75%;
          height: 15px;
          bottom: 0;
          left: 10%;
          background: url('img/about/about-bottom-border2.png') repeat-x 0 0;
      }

      .aboutborder-bottom3{
        display: inline-block;
        padding-bottom: 10px;
        position: relative;
      }

      .aboutborder-bottom3:before{
          content: "";
          position: absolute;
          width: 75%;
          height: 15px;
          bottom: 0;
          left: 10%;
          background: url('img/about/about-bottom-border3.png') repeat-x 0 0;
      }
  .aboutheader-text{
    margin-top: 20px;
  }
        .aboutheader-text p{
          font-family: "Gotham Narrow" !important;
          font-size: 30px;
          line-height: 35px;
        }

  .about-hr1{
    height: 15px;
    background: url(img/about/about-bottom-border3.png) repeat-x 0 0;
    border: 0;
    width:125px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .about-hr2{
    height: 5px;
    background-color:#e45b65;
    width:50px;
    margin-top: -10px;
    margin-bottom: 0px;
  }

  .aboutdesc{
          background-color: #283883;
        }
        .aboutdesc-col-left{
            min-height: 400px;
             padding: 30px 40px;
          padding-bottom: 55px;
        }
        .aboutdesc-col-right{
            background-image: url('img/about/POPCON2016_13AUG-1928.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 400px;

        }
  .aboutsubdesc{
            background-color: #e45b65;
        }
        .aboutsubdesc-col-left{
          background-image: url('img/about/bg-aboutsubdesc.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 400px;
        }

        .aboutsubdesc-col-right{
          height: 100%;
          padding: 30px 40px;
          padding-bottom: 55px;
        }



            .aboutsubdesc-still-play{
              -webkit-transition:border-color 250ms ease;
              transition:border-color 250ms ease;
              border:6px solid rgba(255,255,255,0.7);
              border-radius:50%;
              display:block;
              height:100px;
              width:100px;
              left:47%;
              margin:-32px 0 0 -32px;
              position:absolute;
              top:45%;
              will-change:border-color;
              z-index:3;
              }
            .aboutsubdesc-still-play::after{
              background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="#FFF" d="M40 20L5.4 40V0"/></svg>');
              background-position:center;
              background-repeat:no-repeat;
              background-size:28px 28px;
              content:'';
              display:block;
              height:90px;
              width:90px;
              will-change:transform;
              }
            .aboutsubdesc-text{
              padding:32px 0 40px 0;
              position:relative;
              z-index:2}

            .aboutsubdesc-still-play:hover{
              -webkit-transition:border-color 250ms ease;
              transition:border-color 250ms ease;
              border:6px solid rgba(255,255,255,1);
            }



         @media (max-width: 600px){
          .aboutsubdesc-col-right,.aboutdesc-col-left{
            padding: 0px 15px;
            padding-bottom: 55px;
          }
          }
          @media (min-width:  992px) and (max-width:  1023px){
            .aboutsubdesc-col-left{
              min-height:423px;
            }
            .aboutdesc-col-right{
              min-height:697px;
            }
          }
           @media (min-width:  1024px) and (max-width:  1071px){
            .aboutsubdesc-col-left{
              min-height:423px;
            }
            .aboutdesc-col-right{
              min-height:675px;
            }
          }

           @media (min-width:  1072px) and (max-width:  1117px){
            .aboutsubdesc-col-left{
              min-height:423px;
            }
            .aboutdesc-col-right{
              min-height:653px;
            }
          }
           @media (min-width:  1118px) and (max-width:  1150px){
            .aboutsubdesc-col-left{
              min-height:423px;
            }
          }
           @media (min-width:  1118px) and (max-width:  1233px){y
            .aboutdesc-col-right{
              min-height:631px;
            }
          }
          @media (min-width:  1151px){
             .aboutsubdesc-col-left{
              min-height:375;
            }
          }


              .aboutsubdesc-col-text, .aboutdesc-col-text{
                padding: 15px 15px 0 15px;
              }
              .aboutsubdesc h5, .aboutdesc h5{
                color: #ffc500;
                font-size: 18px

              }
              .aboutsubdesc h1, .aboutdesc h1{
                font-size: 44px;
              }
               .aboutsubdesc h2, .aboutdesc h2{
                margin:0px 0px 0px 10px;
              }

              .aboutsubdesc h1, .aboutdesc h1, .aboutsubdesc h2, .aboutdesc h2, .aboutdesc p, .aboutsubdesc p{
                color: white;


              }
              .aboutdesc p, .aboutsubdesc p{
                margin: 20px 10px !important;
                font-family:"Gotham Narrow" !important;
                font-size: 22px;
              }
              .aboutsubdesc h1, .aboutsubdesc h5, .aboutsubdesc p, .aboutdesc h5, .aboutdesc h1, .aboutdesc p{
                margin: 10px;
              }
      .aboutkeyfacts{
          padding: 40px 0;
      }
      .aboutkeyfacts-text span{
          font-size: 60px;
          padding-bottom: 0px;
      }
      .aboutkeyfacts-text p{
          font-size: 30px;
      }



      .aboutmilestones-section{
         background-color: rgba(216, 216, 216, 0.17);
         padding: 40px 0;
      }
      .aboutmilestones{

          padding: 3px 3px !important;
          margin: 0px;
          list-style: none;
        }
      .aboutmilestones-header p{
          font-size: 22px;
      }
            .milestone-list{
                padding: 20px 20px;
                height:100%;
                display: block;
            }

            .milestone{
              background-color: white;
              padding: 0px;
              border-bottom: 8px solid #ffc502;
            }
            .milestone-photo{
              background-color: black;
            }

            .milestone-list .milestone-photo{
              position:relative;
              overflow:hidden;

              }
            .milestone-list .milestone-photo img{
              -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1);
              transform:scale(1);
              will-change:transform;
              }

            .milestone-photo img{
              min-width: 350px;
              max-width: 350px;

            }
            .milestone-list .milestone:hover .milestone-photo img{
              -webkit-transform:scale(1.05);
              transform:scale(1.05);
              }



            .milestone-text{
              min-height: 100px;
              padding: 10px 30px;
             -webkit-transition:background-color 200ms ease;
              transition:background-color 200ms ease;
              will-change:background-color;
            }
                .milestones a{
                  text-decoration: none;
                  color: #000;
                }
                .milestone-text span{
                  font-family: "Gotham Rounded" !important;
                  font-size: 50px;
                  font-style: italic;
                  margin-bottom: -10px;
                }
                .milestone-text p{
                  font-size: 22px;
                  font-weight: bold;
                  margin-top: -15px;
                }
                .milestone-text i{
                  margin-left: 10px;
                  position: relative;
                  top: -20px;

                }

            .milestone-list:hover .milestone:hover .milestone-text{
             background-color: #ffc502;
             color: white;

            }
            .milestone-this-year{
              background-color: #ffc502;
            }



            .aboutobjectives-section{
              padding: 40px 0;
            }

            .aboutobjectives{

              padding: 3px 3px !important;
              margin: 0px;
              list-style: none;
            }
            .aboutobjectives-header p{
                font-size: 22px;
            }

              .objective-list{
                padding: 20px 20px;
                height:100%;
                display: block;
                -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1);
              transform:scale(1);
              will-change:transform;
              }

              .objective-list:hover{
                -webkit-transform:scale(1.05);
                transform: (1.05);
              }

              .objective{
                background-color: white;
                padding: 0px;
                border-bottom: 8px solid #ffc502;
              }

              .objective-photo{
                background-color: #ffc502;
                border-radius: 50%;
                 min-height: 150px;
                 min-width: 150px;
                 max-height: 150px;
                 max-width: 150px;


              }

              .objective-text{
                  min-height: 100px;
                padding: 30px 30px 30px 0px;
               -webkit-transition:background-color 200ms ease;
                transition:background-color 200ms ease;
                will-change:background-color;

              }
                  .obejctives a{
                    text-decoration: none;
                    color: #000;
                  }
                  .objective-text span{
                    font-family: "Gotham Rounded" !important;
                    font-size: 30px;
                  /*  color: #283883;*/
                  }
                  .objective-text p{
                    font-size: 18px;
                    margin-top: -5px;
                    margin-left: 5px;
                  }
                  .objective-text i{
                    margin-left: 10px;
                    position: relative;
                    top: -20px;

                  }


        .aboutparticipants-section{
              padding: 40px 0;
              background-color: #e45b65;
            }

        .aboutparticipants{

              padding: 3px 3px !important;
              margin: 0px;
              list-style: none;
            }
        .aboutparticipants-header h1{
              color: #fff;
            }
        .aboutparticipants-header p{
              font-size: 22px;
            }

          .participant-list{
                padding: 20px 10px;
                height:100%;
                display: block;
                -webkit-transition:transform 200ms ease;
              transition:transform 200ms ease;
              -webkit-transform:scale(1);
              transform:scale(1);
              will-change:transform;
              }
              .participant-text{
                 padding: 5px 5px 5px 5px;

              }

              .participant-text span{
                  font-size: 19px;
                  color: #fff;
              }





.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }

.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu>li>a{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white;
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}

@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}


/* Wordpress Dropdown Walker */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
       display: block;
       right:162px;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus
{
     border-bottom: 3px solid #D7182A;
}
.post-body span .author .publisher-anchor-color a{
	color: #288ce4 !important;
}


/*form contact*/
nf-field input, .ninja-forms-field{
    font-size: 20px !important;
    padding: 4px !important;
}


/** MODCON **/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.modcon-submenu {
		padding-top:10px;
		text-align:right!important;
		margin-top:20px;
	}
}
/*.modcon .row{
	margin:0px;
	padding:0px;
}*/
.section-heading-title {
	color: white;
	text-transform: uppercase;
	padding: 5px 0px;
}

.modcon-submenu {
	color:#FFFFFF;
	text-transform:capitalize;
	margin-bottom:10px;
	padding-bottom:10px;
}
.modcon-submenu a {
	color:#FFFFFF;
	text-transform:capitalize!important;
	text-decoration:none;
}
.modcon-hero {
	background-color:#283883;
	padding-top:15px;
	padding-bottom:15px;
}
.modcon-hero-bg {
	background-color:#FFFFFF;
}
.modcon-hero-left {
	padding:20px 40px;
}
.modcon-hero-left p {
	font-size:18px;
	margin-bottom:20px;
}
.modcon-aussiebgt {
	background-size:cover!important;
	padding-top:50px;
	padding-bottom:50px;
}
.modcon-aussiebgt-content {
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
}
.modcon-aussiebgt-content h2 {
	font-size:35px;
}
.modcon-aussiebgt-content p {
	font-size:20px;
}
.modcon-process {
	padding-top:50px;
	padding-bottom:50px;
}
.modcon-process-container {
	margin-bottom:30px;
}
.modcon-process-container h2 {
	margin-bottom:0px;
}
.modcon-divider {
	width:50px;
	height:5px;
	margin:auto;
	background-color:#e2595d;
}
.modcon-judges {
	background-color:#f3f3f3;
}
.modcon-judges-container {
	padding:50px 0px;
}
.modcon-judges-heading {
	margin-bottom:30px;
}
.modcon-judges-container h2 {
	margin-bottom:0px;
}
.modcon-call-action {
	background-color:#ffcb00;
	padding-bottom:50px;
	padding-top:50px;
}
.modcon-socmed {
	padding-top:10px;
	padding-bottom:10px;
}
.modcon-process-content h3,.modcon-judges h3 {
	margin-bottom: 0px;
}
.modcon-process-content .col-lg-3 {
	margin-bottom:40px;
}
.modcon-process-action {
	padding-top: 30px;
}
.modcon-process-action h4 {
	font-size: 18px;
	font-weight:100!important;
}
.modcon-judge-img {
	border: 5px solid #e2595d;
}
.modcon-judge-img:hover {
	border: 5px solid #FFCB00;
}
.modcon-call-action h2 {
	font-size: 30px;
}
.btn-modcon-submission {
	background-color: #fcfcfc!important;
	color: #000;
	margin-bottom: 20px;
}
.aus-logo {
	display:block;
}
.modcon-socmed a:hover {
	text-decoration:none;
}

.modcon-judges-container .col-lg-4 {
	margin-bottom:30px;
}
.list-modcon .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-modcon .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
@media (min-width: 992px) {

	.modcon-hero {
		padding-top:50px;
		padding-bottom:50px;
	}
	.modcon-aussiebgt-content h2 {
		font-size:60px;
	}
	.modcon-aussiebgt-content p {
		font-size:25px;
	}
	.modcon-aussiebgt-content {
		padding-top:20px;
		padding-bottom:20px;
	}
	.aus-logo {
		display: inline-block;
		border-right: 1px solid #ccc;
		padding-right: 20px;
		margin-right: 20px;
	}
	.modcon-call-action h2 {
		font-size: 40px;
	}
}
@media  (max-width: 940px) {
    .custom-pop-desc{
        min-height: 45px;
    }
}